{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "docker",
          "markup",
          "py",
          "shell",
          "sh",
          "bash"
        ],
        "plugins": ["line-numbers"]
      }
    ]
  ]
}
